@model VoetbalTicketStore.ViewModel.TicketWedstrijd

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<p>
    Hoi! Je wil op @Html.DisplayFor(model => model.Wedstrijd.DatumEnTijd) naar de wedstrijd tussen @Html.DisplayFor(model => model.Wedstrijd.Club.naam) en @Html.DisplayFor(model => model.Wedstrijd.Club1.naam).
    Deze wedstrijd wordt gespeeld op de deze locatie: @Html.DisplayFor(model => model.Wedstrijd.Stadion.naam)
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ticket 1</h4>
    <hr />
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            E-mail: @Html.TextBoxFor(s => s.Bezoeker.email)
        </div>
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            Naam: @Html.TextBoxFor(s => s.Bezoeker.naam)
        </div>
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            Voornaam: @Html.TextBoxFor(s => s.Bezoeker.voornaam)
        </div>
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            Rijksregisternummer: @Html.TextBoxFor(s => s.Bezoeker.rijksregisternummer)
        </div>
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            Type plaats: @Html.DropDownListFor(s => s.SelectedVak, Model.Vakken, "--Selecteer vak--")
        </div>
    </div>

    @*Deze velden moeten bewaard blijven:*@
    @Html.HiddenFor(s => s.Stadion.id)
    @Html.HiddenFor(w => w.Wedstrijd.id)
    @Html.HiddenFor(c => c.Club1.id)
    @Html.HiddenFor(c => c.Club2.id)


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
