@model VoetbalTicketStore.ViewModel.TicketWedstrijd
@{
    ViewBag.Title = "Tickets kopen";
}
<hr />
<div class="row">
    <div class="col-md-6">
        @{
            var LogoThuisploeg = "/Content/img/clublogo/placeholder.png";
            var LogoBezoekers = "/Content/img/clublogo/placeholder.png";

            if (Model.Thuisploeg.Logo != null && Model.Tegenstanders.Logo != null)
            {
                LogoThuisploeg = Model.Thuisploeg.Logo;
                LogoBezoekers = Model.Tegenstanders.Logo;
            }
        }
        <img src="@LogoThuisploeg" class="wedstrijd" alt="@Model.Thuisploeg.Naam" />
        <img src="@LogoBezoekers" class="wedstrijd" alt="@Model.Tegenstanders.Naam" />
    </div>
    <div class="col-md-6">
        <h1>
            @Model.Thuisploeg.Naam - @Model.Tegenstanders.Naam
            <br />
            <small>@Model.Stadion.Naam</small>
            <br />
            <small>@Model.Wedstrijd.DatumEnTijd</small>
        </h1>
    </div>
</div>
<div class="row">
    <div id="partial">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.LabelFor(modelItem => modelItem.VakkenList.First().VakType)
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelItem.VakkenList.First().BerekendePrijs)
                </th>
                <th>Plaatsen</th>
                <th></th>
            </tr>
            @foreach (var item in Model.VakkenList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VakType.Beschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BerekendePrijs)
                    </td>
                    <td>
                        @if (item.AantalVrijePlaatsen == 0)
                        {
                            <text>Geen tickets meer!</text>

                        }
                        else
                        {
                            <text>Nog</text> @Html.DisplayFor(modelItem => item.AantalVrijePlaatsen) <text>van de </text>@Html.DisplayFor(modelItem => item.MaximumAantalZitplaatsen) <text>plaatsen vrij!</text>
                        }

                    </td>
                    <td>
                        @if (item.AantalVrijePlaatsen == 0)
                        {
                            <button type="button" class="btn btn-warning" disabled>Uitverkocht!</button>
                        }
                        else
                        {@*TODO: gevuld viewmodel in de ActionLink (RouteValues) steken*@
                        @Ajax.ActionLink("Bestel!", "Confirm", "Ticket", new { vakId = item.Id, aantalVrijePlaatsen = item.AantalVrijePlaatsen, prijs = item.BerekendePrijs, wedstrijdId = Model.Wedstrijd.Id, thuisploegId = Model.Thuisploeg.Id, bezoekersId = Model.Tegenstanders.Id, vakNaam = item.VakType.Beschrijving }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, htmlAttributes: new { @class = "btn btn-primary" })}
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
