@model VoetbalTicketStore.ViewModel.TicketWedstrijd
@{
    ViewBag.Title = "Tickets kopen";
}
<div>
    @{
        var LogoThuisploeg = "/Content/img/clublogo/placeholder.png";
        var LogoBezoekers = "/Content/img/clublogo/placeholder.png";

        if (Model.Thuisploeg.Logo != null && Model.Tegenstanders.Logo != null)
        {
            LogoThuisploeg = Model.Thuisploeg.Logo;
            LogoBezoekers = Model.Tegenstanders.Logo;
        }
    }
    <img src="@LogoThuisploeg" alt="logo thuisploeg" />
    VS
    <img src="@LogoBezoekers" alt="logo bezoekers" />
    <br />
    Stadion: @Model.Stadion.Naam
    Datum: @Model.Wedstrijd.DatumEnTijd
    <br />
    <br />


    <table class="table">
        <tr>
            <th>Vak</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
            <th></th>
        </tr>
        @foreach (var item in Model.VakkenList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VakType.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BerekendePrijs) euro
                </td>
                <td>
                    Nog @Html.DisplayFor(modelItem => item.AantalVrijePlaatsen) van de @Html.DisplayFor(modelItem => item.MaximumAantalZitplaatsen) plaatsen vrij!
                </td>
                <td>
                    TODO: DIT MOET EEN POST WORDEN ?
                    @Html.ActionLink("Koop tickets!", "Confirm", "Ticket", new { vakId = item.Id, stadionId = item.Stadionid, wedstrijdId = Model.Wedstrijd.Id, thuisploegId = Model.Thuisploeg.Id, tegenstandersId = Model.Tegenstanders.Id, naamThuisploeg = Model.Thuisploeg.Naam }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
@*Deze velden moeten bewaard blijven:*@
@*@Html.HiddenFor(s => s.Stadion.Id)
    @Html.HiddenFor(w => w.Wedstrijd.Id)
    @Html.HiddenFor(c => c.Thuisploeg.Id)
    @Html.HiddenFor(c => c.Tegenstanders.Id)*@

