@model VoetbalTicketStore.ViewModel.TicketWedstrijd
@{
    ViewBag.Title = "Tickets kopen";
}
<div>
    @{
        var LogoThuisploeg = "/Content/img/clublogo/placeholder.png";
        var LogoBezoekers = "/Content/img/clublogo/placeholder.png";

        if (Model.Thuisploeg.Logo != null && Model.Tegenstanders.Logo != null)
        {
            LogoThuisploeg = Model.Thuisploeg.Logo;
            LogoBezoekers = Model.Tegenstanders.Logo;
        }
    }
    <img src="@LogoThuisploeg" alt="logo thuisploeg" />
    VS
    <img src="@LogoBezoekers" alt="logo bezoekers" />
    <br />
    Stadion: @Model.Stadion.Naam
    Datum: @Model.Wedstrijd.DatumEnTijd
    <br />
    <br />

    <div id="partial">
        <table class="table">
            <tr>
                <th>Vak</th>
                <th>Prijs</th>
                <th>Plaatsen</th>
                <th></th>
            </tr>
            @foreach (var item in Model.VakkenList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VakType.Beschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BerekendePrijs) euro
                    </td>
                    <td>
                        Nog @Html.DisplayFor(modelItem => item.AantalVrijePlaatsen) van de @Html.DisplayFor(modelItem => item.MaximumAantalZitplaatsen) plaatsen vrij!
                    </td>
                    <td>
                        @*TODO: gevuld viewmodel in de ActionLink (RouteValues) steken*@
                        @Ajax.ActionLink("Koop tickets!", "Confirm", "Ticket", new { vakId = item.Id, aantalVrijePlaatsen = item.AantalVrijePlaatsen, prijs = item.BerekendePrijs, wedstrijdId = Model.Wedstrijd.Id, vakNaam = item.VakType.Beschrijving}, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, htmlAttributes: new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>