@model VoetbalTicketStore.ViewModel.ClubOverview
@{
    ViewBag.Title = "Clubs";
}
<div class="page-header">
    <h1>Clubs <small>Onze competitie</small></h1>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Clubs)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Logo)

        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.StadionNaam)

        </th>
        <th>
            Abonnementen
        </th>
        <th>
            Wedstrijdkalender
        </th>
    </tr>

    @foreach (var item in Model.Clubs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @{
                    var imagePath = "/Content/img/clublogo/placeholder.png";
                    if (item.Logo != null)
                    {
                        imagePath = item.Logo;
                    }
                    <img src="@imagePath" alt="logo" style="width:30%;"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadion.Naam)
            </td>
            <td>
                @Html.ActionLink("Koop abonnement", "Buy", "Abonnement", new { GekozenClubId = item.Id, GekozenClubNaam = item.Naam, Logo = imagePath, StadionId = item.Stadionid, StadionNaam = item.Stadion.Naam }, null)
            </td>
            <td>
                @*Notice that you specify the controller name without the Controller suffix.*@
                @*Dit werkt wegens de RouteConfig defaults: new { controller = "Home", action = "Index", id = UrlParameter.Optional }
                *@

                @Html.ActionLink("Toon Wedstrijdkalender", "WedstrijdKalender", "Wedstrijd", new { item.Id }, null)
            </td>
        </tr>
    }

</table>
