@model VoetbalTicketStore.ViewModel.HomeVM

@{
    ViewBag.Title = "Startpagina";
}



<div class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @if (Model.HighlightList != null)
            {
                for (var i = 0; i < Model.HighlightList.Count(); i++)
                {
                    if (i == 0)
                    {
                        <div class="item active">
                            <div class="hero">
                                <h4>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].DatumEnTijd)</h4>
                                <h1>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].Club.Naam) - @Html.DisplayFor(modelItem => modelItem.HighlightList[i].Club1.Naam)</h1>
                                <h2>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].Beschrijving)  </h2>
                                @Html.ActionLink("Koop tickets", "Buy", "Ticket", new { id = Model.HighlightList[i].Id }, htmlAttributes: new { @class = "btn btn-success btn-lg" })

                            </div>
                            <div class="overlay"></div>
                            @if (Model.HighlightList[i].Afbeelding != null)
                            {
                                <a href="/Ticket/Buy/Model.HighlightList[i].Id"><img src=@Model.HighlightList[i].Afbeelding alt="Afbeelding"></a>
                            }
                            else
                            {
                                <img src="~/Content/img/wedstrijd-placeholder.JPG" />
                            }


                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <div class="hero">
                                <h4>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].DatumEnTijd)</h4>
                                <h1>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].Club.Naam) - @Html.DisplayFor(modelItem => modelItem.HighlightList[i].Club1.Naam)</h1>
                                <h2>@Html.DisplayFor(modelItem => modelItem.HighlightList[i].Beschrijving)  </h2>
                                @Html.ActionLink("Koop tickets", "Buy", "Ticket", new { id = Model.HighlightList[i].Id }, htmlAttributes: new { @class = "btn btn-success btn-lg" })
                            </div>
                            <div class="overlay"></div>
                            @if (Model.HighlightList[i].Afbeelding != null)
                            {
                                <a href="/Ticket/Buy/Model.HighlightList[i].Id"><img src=@Model.HighlightList[i].Afbeelding alt="Afbeelding"></a>
                            }
                            else
                            {
                                <img src="~/Content/img/wedstrijd-placeholder.JPG" />
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Wedstrijdkalender</h2>
        <p>
            Wedstrijdje meepikken? Bekijk ze allemaal!
        </p>
        <p>
            <a href="@Url.Action("Index", "Wedstrijd")" class="btn btn-default">
                Kalender
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Stadions</h2>
        <p>Waar speelt uw favoriete ploeg? Bekijk het hier!</p>
        <p>
            <a href="@Url.Action("Index", "Stadion")" class="btn btn-default">
                Stadions
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>