@model VoetbalTicketStore.ViewModel.AbonnementBuy

<div class="row">
    <h1>Abonnementen voor @Model.PloegNaam <small>@Model.StadionNaam</small></h1>
</div>
<hr />
<div class="row">
    <div class="col-md-5"><span class="top">Vak</span></div>
    <div class="col-md-2"><span class="top">Prijs</span></div>
    <div class="col-md-5"><span class="top">Kopen</span></div>
</div>
<hr />
@foreach (var item in Model.Vakken)
{
    <div class="row">
        <div class="col-md-5">
            @Html.DisplayFor(modelItem => item.VakType.Beschrijving)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.BerekendePrijs)
        </div>
        <div class="col-md-5">
            @using (Html.BeginForm("AddAbonnement", "ShoppingCart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.DropDownListFor(a => a.AantalAbonnementen, Model.HoeveelheidAbonnementenList,"Aantal")

                <input type="submit" value="Koop!" class="btn btn-default" />

                @*Deze velden moeten bewaard blijven:*@
                @Html.Hidden("GeselecteerdVakId", item.VakTypeid)
                @Html.Hidden("PloegId", Model.PloegId)
                @Html.Hidden("Prijs", item.BerekendePrijs)
            }
        </div>
    </div>
}