@model VoetbalTicketStore.ViewModel.AbonnementBuy

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<img src="@Model.Logo" alt="logo" />
<h1>@Model.StadionNaam</h1>
<table class="table">
    <tr>
        <th>
            Vak
        </th>
        <th>
            Prijs
        </th>
        <th>
            Kopen
        </th>

    </tr>

    @foreach (var item in Model.Vakken)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VakType.Beschrijving)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BerekendePrijs)
            </td>
            <td>
                @using (Html.BeginForm("AddAbonnement", "ShoppingCart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.AantalAbonnementen, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(a => a.AantalAbonnementen, Model.HoeveelheidAbonnementenList)
                                @Html.ValidationMessageFor(model => model.AantalAbonnementen, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Koop!" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                    @*Deze velden moeten bewaard blijven:*@
                    @Html.Hidden("GeselecteerdVakId", item.Id)
                    @Html.Hidden("PloegId", Model.PloegId)
                    @Html.Hidden("Prijs", item.BerekendePrijs)

                }
            </td>
        </tr>
    }

</table>
