@model VoetbalTicketStore.ViewModel.BestellingVM

@{
    ViewBag.Title = "Aankoopgeschiedenis";
}

<div class="row">
    <div class="page-header">
        <h1>Uw aankoopgeschiedenis <small>Tickets en abonnementen</small></h1>
    </div>
</div>

@foreach (VoetbalTicketStore.Models.Bestelling bestelling in @Model.Bestellingen)
{
    <div class="row">
        <h3>Bestelling: #@Html.DisplayFor(modelItem => bestelling.Id) (@Html.DisplayFor(modelItem => bestelling.BestelDatum))</h3>
        <div class="row">
            @foreach (VoetbalTicketStore.Models.Ticket ticket in bestelling.Tickets)
            {
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item">#@Html.DisplayFor(modelItem => ticket.Id)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => ticket.Wedstrijd.Club.Naam) - @Html.DisplayFor(modelItem => ticket.Wedstrijd.Club1.Naam)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => ticket.Wedstrijd.DatumEnTijd)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => ticket.Prijs)</li>


                        <li class="list-group-item">

                            @if (ticket.Bezoekerrijksregisternummer == null)
                            {
                                <text>Nog geen bezoeker gekoppeld</text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => ticket.Bezoekerrijksregisternummer)
                            }
                        </li>
                        <li class="list-group-item">

                            @if (ticket.Bezoekerrijksregisternummer == null)
                            {
                                <text>Voucher nog niet beschikbaar</text>
                            }
                            else
                            {
                                //Don't mix with other components Icon classes cannot be directly combined with other components. -> ActionLink niet geschikt, Action kan niet POSTen, dus een Form dan maar
                                using (Html.BeginForm("GenerateTicketPDF", "Bezoeker", new VoetbalTicketStore.ViewModel.BestellingVM { TicketId = ticket.Id, BestellingId = bestelling.Id, Prijs = ticket.Prijs, ThuisploegNaam = ticket.Wedstrijd.Club.Naam, TegenstandersNaam = ticket.Wedstrijd.Club1.Naam, BezoekerNaam = ticket.Bezoeker.Naam, BezoekerVoornaam = ticket.Bezoeker.Voornaam, BezoekerRijksregisternummer = ticket.Bezoekerrijksregisternummer, BezoekerEmail = ticket.Bezoeker.Email, StadionAdres = ticket.Wedstrijd.Stadion.Adres, StadionNaam = ticket.Wedstrijd.Stadion.Naam, WedstrijdDatumEnTijd = ticket.Wedstrijd.DatumEnTijd }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <button type="submit" class="btn btn-primary" role="menuitem">
                                        <i class="glyphicon glyphicon-download-alt"></i>Voucher
                                    </button>
                                }
                            }
                        </li>

                    </ul>
                </div>

            }
            @foreach (VoetbalTicketStore.Models.Abonnement abonnement in bestelling.Abonnements)
            {
                <div class="col-md-3">
                    <h4>#@Html.DisplayFor(modelItem => abonnement.Id)</h4>
                    <ul class="list-group">
                        <li class="list-group-item">@Html.DisplayFor(modelItem => abonnement.Club.Naam)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => abonnement.Club.Stadion.Naam)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => abonnement.Prijs)</li>
                        <li class="list-group-item">
                            @if (abonnement.Bezoekerrijksregisternummer == null)
                            {
                                <text>Nog geen bezoeker gekoppeld</text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => abonnement.Bezoekerrijksregisternummer)
                            }
                        </li>
                        <li class="list-group-item">

                            @if (abonnement.Bezoekerrijksregisternummer == null)
                            {
                                <text>Abonnement nog niet beschikbaar</text>
                            }
                            else
                            {
                                //Don't mix with other components Icon classes cannot be directly combined with other components. -> ActionLink niet geschikt, Action kan niet POSTen, dus een Form dan maar
                                using (Html.BeginForm("GenerateAbonnementPDF", "Bezoeker", new { Area = "" }, FormMethod.Post, htmlAttributes: new { title = "SomeTitle" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <button type="submit" class="btn btn-primary" role="menuitem">
                                        <i class="glyphicon glyphicon-download-alt"></i>Voucher
                                    </button>
                                }
                            }
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
}
