@model VoetbalTicketStore.ViewModel.ShoppingCart
@if (Model == null || Model.ShoppingCartEntries.Count == 0)
{
    <p>Winkelwagentje is leeg!</p>
}
else
{

    <table class="table">
        <tr>
            <th>Wedstrijd</th>
            <th>Beschrijving</th>
            <th>Prijs</th>
            <th>Hoeveelheid</th>
            <th></th>
        </tr>

        @foreach (var item in Model.ShoppingCartEntries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Naam) - @Html.DisplayFor(modelItem => item.Club1.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vak.VakType.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoeveelheid)
                </td>
                <td>
                    @using (Html.BeginForm("AdjustAmount", "ShoppingCart", new { SelectedShoppingCartData = item.Id, NieuweHoeveelheid = Model.NieuweHoeveelheid, GeselecteerdeWedstrijd = item.WedstrijdId }, FormMethod.Post))
                    {
                        @Html.EditorFor(modelItem => Model.NieuweHoeveelheid)

                        <input type="submit" value="H" class="btn btn-outline-danger" />
                    }
                    @using (Html.BeginForm("Remove", "ShoppingCart", new { id = item.Id }, FormMethod.Post))
                    {
                        <input type="submit" value="x" class="btn btn-outline-danger" />
                    }
                </td>
            </tr>
        }
    </table>
    <p>Totaalprijs: @Model.TotaalPrijs euro</p>
    <p>
        @using (Html.BeginForm("Clear", "ShoppingCart", FormMethod.Post))
        {
            <input type="submit" value="Leegmaken" class="btn btn-outline-danger" />
        }
    </p>
    <div>
        @using (Html.BeginForm("Finalise", "ShoppingCart", FormMethod.Post))
        {
            <input type="submit" value="Bevestigen" class="btn btn-outline-danger" />
        }
    </div>
}
