@model VoetbalTicketStore.ViewModel.ShoppingCart

@{
    ViewBag.Title = "Winkelwagentje";
}

@if (Model == null || Model.ShoppingCartEntries.Count == 0)
{
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Uw winkelwagentje is leeg!</h4>

        Koop een ticket of abonnement!
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Uw winkelwagentje <small>Tickets en abonnementen</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="top">Type</span></div>
        <div class="col-md-3"><span class="top">Geldig voor</span></div>
        <div class="col-md-1"><span class="top">Datum</span></div>
        <div class="col-md-2"><span class="top">Beschrijving</span></div>
        <div class="col-md-1"><span class="top">Prijs</span></div>
        <div class="col-md-1"><span class="top">Aantal</span></div>
        <div class="col-md-3"><span class="top">Aanpassen</span></div>
    </div>
    <hr />
    foreach (var item in Model.ShoppingCartEntries)
    {
        <div class="row">

            <div class="col-md-1">@Html.DisplayFor(modelItem => item.ShoppingCartDataType.Type)</div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Club.Naam)
                @if (item.Club1 != null)
                {
                    <text> - </text> @Html.DisplayFor(modelItem => item.Club1.Naam);
                }
            </div>
            <div class="col-md-1">
                @if (item.Wedstrijd != null)
                {
                    @Html.DisplayFor(modelItem => item.Wedstrijd.DatumEnTijd)
                }
                else
                {
                    <text>Seizoen</text>
                }
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Vak.VakType.Beschrijving)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Prijs)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Hoeveelheid)

            </div>
            <div class="col-md-3">
                @using (Html.BeginForm("AdjustAmount", "ShoppingCart", new { SelectedShoppingCartData = item.Id, NieuweHoeveelheid = Model.NieuweHoeveelheid, GeselecteerdeWedstrijd = item.WedstrijdId }, FormMethod.Post, new { @class = "shoppingCartButtons" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.DropDownListFor(modelItem => Model.NieuweHoeveelheid, Model.HoeveelheidList, "Aantal", new { @class = "" })
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                }
                @using (Html.BeginForm("Remove", "ShoppingCart", new { id = item.Id }, FormMethod.Post, new { @class = "shoppingCartButtons" }))
                {
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="glyphicon glyphicon-trash	"></i>
                    </button>
                }
            </div>
        </div>
        <hr />
    }
    <div class="row">
        <div class="col-md-9">

            <strong>Totaal:</strong> @Html.DisplayFor(modelItem => modelItem.TotaalPrijs)
        </div>
        <div class="col-md-3">



            @using (Html.BeginForm("Finalise", "ShoppingCart", FormMethod.Post, new { @class = "shoppingCartButtons" }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary formButtons">
                    <span class="glyphicon glyphicon-euro"></span> Betalen
                </button>
            }
            @using (Html.BeginForm("Clear", "ShoppingCart", new { GeselecteerdeBestelling = Model.Bestelling.Id }, FormMethod.Post, new { @class = "shoppingCartButtons" }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger formButtons">
                    <span class="glyphicon glyphicon-trash"></span> Leegmaken
                </button>
            }
        </div>
    </div>

    if (ViewBag.Error != null)
    {
        <br />
        <div id="errors" class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    if (ViewBag.Success != null)
    {
        <br />
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
}
