@model VoetbalTicketStore.ViewModel.BezoekerKoppelen

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<div class="container">
    @ViewBag.msg                                                                                            
    @foreach (VoetbalTicketStore.Models.Ticket ticket in Model.NietGekoppeldeTicketsList)
    {
        using (Html.BeginForm("Koppel", "Bezoeker", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div>
                <h3>Ticket (# @ticket.Id, bestelling # @ticket.BestellingId)</h3>
                @Html.DisplayFor(t => ticket.Wedstrijd.Club.Naam) - @Html.DisplayFor(t => ticket.Wedstrijd.Club1.Naam)
                @Html.DisplayFor(t => ticket.Wedstrijd.DatumEnTijd)
                @Html.Hidden("TeWijzigenTicket", ticket.Id)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
</div>
