@model VoetbalTicketStore.ViewModel.BezoekerKoppelen

@if (ViewBag.msg != null)
{
    <div class="alert alert-success">
        @ViewBag.msg
    </div>
}

<div class="row">
    @foreach (VoetbalTicketStore.Models.Ticket ticket in Model.NietGekoppeldeTicketsList)
    {
        <div class="col-md-4">
            @using (Html.BeginForm("Koppel", "Bezoeker", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <h3>Ticket (# @ticket.Id, bestelling # @ticket.BestellingId)</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.DisplayFor(t => ticket.Wedstrijd.Club.Naam) - @Html.DisplayFor(t => ticket.Wedstrijd.Club1.Naam)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.DisplayFor(t => ticket.Wedstrijd.DatumEnTijd)
                        @Html.Hidden("TeWijzigenTicket", ticket.Id)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Koppel bezoeker" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    }
</div>

