@model VoetbalTicketStore.ViewModel.BezoekerKoppelen

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    ViewBag.Title = "Bezoeker koppelen";
}
<hr />
Dit is een bestelling voor:
<div class="form-group">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            @Html.RadioButton("bezoeker", "user",
                new { id = "mezelf" }) Mezelf
        </label>
        <label class="btn btn-primary">
            @Html.RadioButton("bezoeker", "andere",
                 new { id = "andere" }) Iemand anders
        </label>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TeWijzigenBezoeker.Rijksregisternummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeWijzigenBezoeker.Rijksregisternummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeWijzigenBezoeker.Rijksregisternummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeWijzigenBezoeker.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeWijzigenBezoeker.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeWijzigenBezoeker.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeWijzigenBezoeker.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeWijzigenBezoeker.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeWijzigenBezoeker.Naam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeWijzigenBezoeker.Voornaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeWijzigenBezoeker.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeWijzigenBezoeker.Voornaam, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.TeWijzigenTicket)
        @Html.HiddenFor(model => model.TeWijzigenAbonnement)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" role="menuitem">
                    <i class="glyphicon glyphicon-ok"></i> Bevestig
                </button>
            </div>
        </div>
    </div>
}


@*Gedrag knoppen bovenaan aanpassen.*@
<script type="text/javascript">
    $(document).ready(function () {

        $('#mezelf').change(function () {
            $('#TeWijzigenBezoeker_Rijksregisternummer').val('@Model.ActieveGebruikerRijksregisternummer');
            $('#TeWijzigenBezoeker_Email').val('@Model.ActieveGebruikerEmail');
            $('#TeWijzigenBezoeker_Naam').val('@Model.ActieveGebruikerFamilienaam');
            $('#TeWijzigenBezoeker_Voornaam').val('@Model.ActieveGebruikerVoornaam');


        })

        $('#andere').change(function () {
            $('#TeWijzigenBezoeker_Rijksregisternummer').val("");
            $('#TeWijzigenBezoeker_Email').val("");
            $('#TeWijzigenBezoeker_Naam').val("");
            $('#TeWijzigenBezoeker_Voornaam').val("");
        })

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}